
.player[type="audio"][state="paused"] .overlay,
.player[type="audio"][state="paused"] .watermark {
  display: block;
}

.player[type="audio"][state="paused"] .controls-play-pause-loading {
  display: block;
  background-image: url("../images/audio-paused.svg");
}

.player[type="audio"][state="paused"] .controls,
.player[type="audio"][state="paused"]:not(.seeking) .controls-progress {
  display: block;
}

.player[type="audio"][state="paused"] .spinner {
  display: none;
}

.player[type="audio"][state="paused"][live="true"] .controls-cur-time,
.player[type="audio"][state="paused"][live="true"] .controls-total-time,
.player[type="audio"][state="paused"][live="true"] .controls-progress {
  display: none !important;
}