
.player[type="video"][state="paused"] .overlay,
.player[type="video"][state="paused"] .gradient,
.player[type="video"][type="video"][state="paused"] .watermark {
  display: block;
  visibility: visible;
}

.player[type="video"][state="paused"] .controls-play-pause-loading {
  background-image: url("../images/paused.svg");
}

.player[type="video"][state="paused"] .controls,
.player[type="video"][state="paused"] .watermark,
.player[type="video"][state="paused"] .controls-progress-thumb,
.player[type="video"][state="paused"]:not(.seeking) .controls-cur-time,
.player[type="video"][state="paused"]:not(.seeking) .controls-total-time,
.player[type="video"][state="paused"]:not(.seeking) .controls-progress {
  display: block;
}

.player[type="video"][state="paused"][live="true"] .controls-cur-time,
.player[type="video"][state="paused"][live="true"] .controls-total-time,
.player[type="video"][state="paused"][live="true"] .controls-progress {
  display: none !important;
}

.player[type="video"][state="paused"] video {
  display: block;
}

.player[type="video"][state="paused"] .media-info,
.player[type="video"][state="paused"]:not(.seeking) .controls-cur-time,
.player[type="video"][state="paused"]:not(.seeking) .controls-total-time,
.player[type="video"][state="paused"]:not(.seeking) .controls-progress {
  animation: setInvisible 1s linear 5s;
  animation-fill-mode: forwards;
}

.player[type="video"][state="paused"][preview-mode="true"] .media-info {
  opacity: 1;
}

.player[type="video"][state="paused"] .controls-spinner,
.player[type="video"][state="paused"] .spinner {
  display: none;
}
/* 
.player[type="video"][state="paused"] .controls-cur-time {
  margin-left: 40px;
} */
